.result {
  border: 1px solid gray;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.result #url {
  color: gray;
}
.result #title {
  display: flex;
}

.result #title a {
  text-decoration: none;
}
.result #title p {
  margin-right: 5px;
}
#navbar img {
  width: 100px;
}
#homepage {
  margin: auto;
  justify-content: center;
  text-align: center;
}
